{% extends 'pgLayout.html' %}
{% block title %}
Language Detection
{% endblock %}
{% block body%}
<div class="container-fluid">
<form method = 'post',id="shorturl">
   <div class="form-group row">
       <div class="col-sm-2">
        <label>Enter Text :</label>
    </div>
       <div class="col-sm-7">
                <input type="text" class="form-control" name ="originalurl"  placeholder = 'Enter the Text' value ={% for key in  original %}{{key}}{% endfor%}>
    </div>
        <div class="col-sm-3">
      <button type="submit" class="btn btn-primary mb-2"> Detect Language</button>
    </div>
  </div>
</form>
     <form>
        <div class="form-group row">
        <div class="col-sm-2">
             <label> Original Language :   {{original}}</label>
        </div>
        </div>
    </form>
    <form>
        <div class="form-group row">
        <div class="col-sm-2">
             <label class ="label1"> Detected Language :   {{ans}}</label>
        </div>
        </div>
    </form>
</div>
</div>
{% endblock %}

